@import "@nomios/web-uikit/styles/colors";
@import "../common.css";

:root {
    --sidebar-width: 8rem;
    --sidebar-closed-scale: 8;
    --sidebar-opened-scale: 28;
}

.scrollbar {
    position: relative;
    height: 100%;
    overflow-x: hidden;

    /* Simplebar overrides
       ============================================= */
    & :global(.simplebar-track.simplebar-horizontal) {
        display: none;
    }

    & :global(.simplebar-track.simplebar-vertical) {
        top: 0.5rem;
        right: 0.5rem;
        bottom: 0.5rem;
        width: 0.6rem;

        & :global(.simplebar-scrollbar) {
            will-change: opacity;
            right: 0;
            width: 100%;
            opacity: 0;
            transition: opacity 0.1s linear;

            &::before {
                will-change: opacity;
                background: var(--color-armadillo);
                border-radius: 0.6rem;
            }

            &:global(.simplebar-visible)::before {
                opacity: 0.2;
                transition: opacity 0.05s linear;
            }
        }
    }

    & :global(.simplebar-content) {
        position: relative;
    }

    /* In state */
    &.in :global(.simplebar-track.simplebar-vertical .simplebar-scrollbar) {
        opacity: 1;
        transition-duration: var(--sidebar-open-duration);
        transition-delay: var(--sidebar-close-delay);
    }

    /* Top & bottom edge detectors
       ============================================= */
    & .topEdgeDetector,
    & .bottomEdgeDetector {
        position: absolute;
        left: 0;
        width: 1px;
        height: 1px;
    }

    & .topEdgeDetector {
        top: 0;
    }

    & .bottomEdgeDetector {
        bottom: 0;
    }

    /* Top & bottom edges
       ============================================= */
    &::before,
    &::after {
        content: "";
        will-change: opacity, transform;
        position: absolute;
        width: 1rem;
        height: 1px;
        transform: scaleX(var(--sidebar-closed-scale));
        transform-origin: left center;
        opacity: 0;
        background-color: color(var(--color-armadillo) alpha(0.15));
        transition: opacity 0.15s ease, transform var(--sidebar-open-duration) ease;
        transition-delay: 0s, var(--sidebar-close-delay);
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    /* Show edges state */
    &.showTopEdge::before,
    &.showBottomEdge::after {
        opacity: 1;
    }

    /* In state */
    &.in::before,
    &.in::after {
        transform: scaleX(var(--sidebar-opened-scale));
        transition-delay: 0s;
    }
}
