@import "@nomios/web-uikit/styles/colors";
@import "@nomios/web-uikit/styles/mixins/typography";

.contentWrapper {
    width: 100%;
    height: 100%;
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;

    & .heading {
        margin-top: 0;
        margin-bottom: 3rem;
        color: var(--color-tan);
    }

    & > p {
        max-width: 45rem;
        opacity: 0.7;
        color: var(--color-white);
    }

    & .bottomContent {
        width: 100%;
        margin-top: auto;
        display: flex;

        & .buttonsWrapper {
            width: 24rem;
            margin-left: auto;
            display: flex;
            flex-direction: column;

            & > :first-child {
                margin-bottom: 1.5rem;
            }
        }
    }
}
