@import "@nomios/web-uikit/styles/colors";
@import "@nomios/web-uikit/styles/mixins/typography";

.appsWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .noApps {
        width: 25rem;
        margin-top: 0;
        align-self: flex-start;
        color: var(--color-armadillo);
    }

    & .globeSvg {
        height: 15rem;
        align-self: flex-end;
        fill: var(--color-armadillo);

        & :global path.globe_orbs {
            fill: var(--color-ocean-green);
        }
    }
}

.appIcon {
    width: 2.5rem;
    height: 2.5rem;
    background-position: center center;
    background-size: cover;
}
