@import "@nomios/web-uikit/styles/colors";

.proofLine {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.noProof {
        & .icon {
            margin-right: 2rem;
        }

        & .text {
            opacity: 0.6;
        }
    }

    &.hasProof {
        justify-content: space-between;

        & .left {
            overflow: hidden;
            margin-right: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            & .text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

    }

    & .icon {
        margin-right: 2rem;
        font-size: 2rem;
        fill: var(--color-armadillo);
    }

    & .text {
        color: var(--color-armadillo);
    }

}

& .separator {
    width: 100%;
    height: 0.1rem;
    opacity: 0.15;
    background-color: var(--color-armadillo);
}

@media (max-width: 1280px) {
    .optional {
        display: none;
    }
}
