
@import "@nomios/web-uikit/styles/colors";
@import "@nomios/web-uikit/styles/mixins/typography";

.contentWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;

    & .title {
        margin-top: 0;
        margin-bottom: 2rem;
        color: var(--color-tan);
    }

    & > p {
        @mixin typography-body-1 rem;
        margin-top: 0;
        margin-bottom: 9rem;
        opacity: 0.7;
        color: var(--color-armadillo);
    }

    & .idlePicker {
        position: relative;
    }

    & .continueButton {
        @mixin typography-body-1 rem;
        margin-top: auto;
        align-self: flex-end;
    }

}
