@import "@nomios/web-uikit/styles/colors";
@import "@nomios/web-uikit/styles/mixins/typography";

.errorScreen {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);

    & .wrapper {
        max-width: 41.5rem;
    }

    & .illustration {
        width: 12rem;
        height: 12rem;
        margin: 0 auto;
        display: block;
        fill: var(--color-tan);
    }

    & .body {
        margin: 3.5rem 0 6rem 0;
        color: color(var(--color-armadillo) alpha(0.7));
        text-align: center;
    }

    & .buttons {
        display: flex;

        & .toggleDetails {
            margin-right: 0.5rem;
            flex: 1 0 auto;
        }

        & .tryAgain {
            margin-left: 0.5rem;
            flex: 1 0 auto;
        }
    }

    & .errorSlideDown {
        will-change: height;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    & .error {
        margin-top: 4rem;
        @mixin typography-body-2 rem;
        padding: 2rem;
        background-color: var(--color-dawn-pink);
        color: var(--color-armadillo);

        & .message {
            margin: 0;
        }

        & .stack {
            @mixin typography-body-2 rem;
            max-height: 14rem;
            overflow: auto;
            margin: 1.5rem 0 0 0;
        }

        & .reportButton {
            margin-top: 2.5rem;
        }
    }
}
