@import "@nomios/web-uikit/styles/colors";

.loadingContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > h2 {
        max-width: 45.2rem;
        color: var(--color-tan);
    }

    & > h2,
    & > p {
        text-align: center;
    }
}

.feedbackContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    & .textContainer {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > h2,
        & > p {
            text-align: center;
        }

        & > h2 {
            max-width: 78rem;
            margin-bottom: 0;
            color: var(--color-mineral-green);
        }

        & > p {
            max-width: 71.6rem;
            margin-top: 4rem;
            opacity: 0.7;
            color: var(--color-armadillo);
        }
    }

    & .actionsContainer {
        max-width: 27.3rem;
        margin-bottom: 6rem;
        display: flex;
        flex-direction: column;

        & > *:not(:last-child) {
            margin-bottom: 2.8rem;
        }
    }
}
