@import "@nomios/web-uikit/styles/colors";

.locationFieldContainer {
    position: relative;

    & .icon {
        position: absolute;
        top: 2.1rem;
        right: 0;
        z-index: 10;
        transform: translateY(-50%);
        font-size: 1.3rem;
        transition: color 0.2s ease;
        fill: color(var(--color-armadillo) alpha(0.8));

        &:hover {
            cursor: pointer;
            fill: var(--color-armadillo);
        }
    }
}
