@import "@nomios/web-uikit/styles/colors";

.errorPage {
    position: relative;
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.1;
        background-image: url("../../../shared/media/backgrounds/background-pattern-2160p.png");
        background-position: center center;
        background-size: cover;
    }

    & .illustration {
        width: 12rem;
        height: 12rem;
        margin: 0 auto;
        margin-bottom: 2.3rem;
        display: block;
        fill: var(--color-tan);
    }

    & .title {
        margin-top: 0;
        margin-bottom: 2rem;
        color: var(--color-tan);
        text-align: center;

    }

    & .body {
        margin-bottom: 6rem;
        color: var(--color-armadillo);
        text-align: center;
    }

}
