.app {
    position: relative;
    min-width: 102.4rem;
    min-height: 70rem;
    display: flex;
    flex-direction: column;

    & .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }

    & .page {
        width: calc(100% - 8rem);
        margin-left: 8rem;
        flex: 1 0 auto;
    }
}
