@import "@nomios/web-uikit/styles/colors";
@import "@nomios/web-uikit/styles/mixins/typography";

.lockScreen {
    will-change: opacity;
    position: relative;
    width: 100%;
    min-width: 45rem;
    height: 100%;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #30433b;
    user-select: none;
    transition: opacity 0.3s ease;

    &.enterActive,
    &.enterDone {
        opacity: 1;
    }

    &.exit {
        transition-delay: 1.3s;
    }

    & .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-size: cover;
    }

    & .content {
        will-change: opacity, transform;
        position: relative;
        width: 100%;
        transform: translateY(7.5rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease;

        @nest .enterActive&, .enterDone& {
            transform: translateY(0);
            opacity: 1;
        }

        @nest .exit& {
            opacity: 1;

            & .unlockTitle,
            & .unlockHint,
            & .passphraseDisplay {
                transition: opacity 0.3s ease;
            }

            & .unlockTitle {
                transition-delay: 0.8s;
            }
        }

        @nest .exitActive&, .exitDone& {
            transform: translateY(10rem);
            opacity: 1;

            & .unlockTitle,
            & .unlockHint,
            & .passphraseDisplay {
                opacity: 0;
            }
        }

        & .logo {
            width: 10rem;
            height: 10rem;
            padding: 1.6rem 1rem;
            background-color: var(--color-white);
            border-radius: 3.2rem;

            & svg {
                /* Remove translate3d added by lottie which was causing weird lines on Chrome */
                transform: none !important;
            }
        }

        & .unlockTitle {
            margin-top: 4rem;
            margin-bottom: 3rem;
            color: var(--color-tan);
            text-align: center;
        }

        & .unlockHint {
            width: 40rem;
            margin-top: 0;
            margin-bottom: 8rem;
            color: color(var(--color-white) alpha(0.7));
            text-align: center;
        }

        & .passphraseInput {
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            border: none;
        }

        & .passphraseDisplay {
            will-change: transform;
            position: relative;
            max-width: 80%;
            height: 4rem;
            overflow-x: hidden;
            margin-top: -2rem;
            padding: 0 2rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;

            & .passphraseDot {
                will-change: opacity, transform;
                width: 1.2rem;
                height: 1.2rem;
                margin-top: 0;
                margin-left: 2rem;
                margin-bottom: 0;
                display: inline-block;
                flex: 1 0 auto;
                border: none;
                background-color: var(--color-tan);
                border-radius: 0.6rem;
                transition: background-color 0.1s ease;

                &:last-child {
                    margin-left: 0;
                }

                /* Entry and exit of passphrase dots */

                &.enter {
                    &:only-child {
                        opacity: 0.4;
                    }

                    &:not(:only-child) {
                        transform: translateX(-1.6rem);
                        opacity: 0.4;

                        & ~ .passphraseDot {
                            transform: translateX(1.6rem);
                        }
                    }
                }

                &.enterActive {
                    &:only-child {
                        opacity: 1;
                        transition: opacity 0.3s linear;
                    }

                    &:not(:only-child) {
                        transform: translateX(0);
                        opacity: 1;
                        transition: transform 0.05s ease-in-out, opacity 0.3s linear;

                        & ~ .passphraseDot {
                            transform: translateX(0);
                            transition: transform 0.05s ease-in-out;
                        }
                    }
                }

                &.exit {
                    &:only-child {
                        opacity: 1;
                    }

                    &:not(:only-child) {
                        transform: translateX(0);
                        opacity: 1;

                        & ~ .passphraseDot {
                            transform: translateX(0);
                        }
                    }
                }

                &.exitActive {
                    &:only-child {
                        opacity: 1;
                        transition: opacity 0.05s linear;
                    }

                    &:not(:only-child) {
                        transform: translateX(-1.6rem);
                        opacity: 0.01;
                        transition: transform 0.05s ease-in-out, opacity 0.05s linear;

                        & ~ .passphraseDot {
                            transform: translateX(1.6rem);
                            transition: transform 0.05s ease-in-out;
                        }
                    }

                }

                /* Password submission loading */

                &.loading {
                    animation-name: loading;
                    animation-duration: 0.8s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease;
                }
            }

            & .cursor {
                width: 0.1rem;
                height: 4rem;
                background-color: var(--color-tan);
                animation-name: blink;
                animation-direction: alternate;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
            }

            /* Password submission failure */

            &.error {
                animation-name: shake;
                animation-duration: 1s;
                animation-timing-function: ease;

                & .passphraseDot {
                    border: color(var(--color-white) alpha(0.6)) solid 0.1rem;
                    background-color: transparent;
                }
            }
        }

        & .errorMessage {
            will-change: opacity;
            position: absolute;
            bottom: -7.8rem;
            width: 40rem;
            margin: 0;
            opacity: 0;
            color: var(--color-tan);
            text-align: center;
            transition: opacity 0.1s ease;

            &.show {
                opacity: 1;
            }
        }
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;

    & .modal {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
    }
}

.modalBodyOpen {
    overflow: hidden;
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(1rem);
    }

    20% {
        transform: translateX(-0.9rem);
    }

    30% {
        transform: translateX(0.8rem);
    }

    40% {
        transform: translateX(-0.7rem);
    }

    50% {
        transform: translateX(0.5rem);
    }

    60% {
        transform: translateX(-0.3rem);
    }

    70% {
        transform: translateX(0.1rem);
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
