@import "@nomios/web-uikit/styles/colors";

.container {
    position: relative;

    & .textButton {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        color: var(--color-tan);

        & i.icon {
            margin-left: 1rem;
            font-size: 1.5rem;
        }
    }
}
