@import "@nomios/web-uikit/styles/colors";
@import "@nomios/web-uikit/styles/mixins/typography";

.box {
    width: 100%;

    & .top,
    & .bottom {
        width: 100%;
    }

    & .top {
        position: relative;
        height: 16rem;
        padding: 3rem;
        background-color: var(--color-armadillo);

        /* This pseudo-element is needed so that background-pattern can have opacity */
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.3;
            background-image: url("../../media/backgrounds/background-pattern-1440p.png");
            background-position: 40% 70%;
            background-size: 300%;
        }

        & > * {
            position: relative;
            z-index: 2;
        }

        & .title {
            margin: 0;
            color: var(--color-tan);
        }

        & .desc {
            margin-top: 0.5rem;
            @mixin typography-body-2 rem;
            color: var(--color-white);
        }

        & .icon {
            position: absolute;
            right: 3rem;
            bottom: 3rem;
            font-size: 4.6rem;
            fill: var(--color-tan);
        }
    }

    & .bottom {
        height: 6.5rem;
        padding: 0 3rem;
        display: flex;
        align-items: center;
        border: 0.1rem solid color(var(--color-armadillo) alpha(0.3));
        background-color: var(--color-white);
    }
}
