@import "@nomios/web-uikit/styles/colors";

.split {
    position: relative;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
        height: 50%;
        z-index: 1;
        background-color: var(--color-mineral-green);
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0%;
        width: 100%;
        height: 50%;
        z-index: 1;
        background-color: color(var(--color-dawn-pink) alpha(0.8));
    }

    & .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0.1;
        background-image: url("../../shared/media/backgrounds/background-pattern-2160p.png");
        background-position: center center;
        background-size: cover;
    }

    & .layout {
        position: relative;
        z-index: 3;
    }

    & .top {
        height: 50%;
        min-height: 51.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    & .bottom {
        height: 50%;
        min-height: 51.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
