.boot {
    display: flex;
    flex: 1 0 auto;

    & .loading,
    & .error {
        margin: auto auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}
