@import "@nomios/web-uikit/styles";

/* ==========================================================================
   Document
   ========================================================================== */

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* ==========================================================================
   Body & #root
   ========================================================================== */

body {
    overflow-y: scroll;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

:global(#root) {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
