@import "@nomios/web-uikit/styles/colors";
@import "@nomios/web-uikit/styles/mixins/typography";

.inputWrapper {
    position: relative;
    max-width: 65rem;

    & textarea {
        width: 100%;
        padding-bottom: 1.6rem;
        border: 0;
        border-bottom: 0.1rem solid color(var(--color-armadillo) alpha(0.15));
        color: var(--color-armadillo);
        line-height: 2.4rem;
        word-wrap: normal;
        resize: none;
    }

    & .animatedBorder {
        position: absolute;
        bottom: 0.6rem;
        left: 0;
        height: 0.1rem;
        background-color: var(--color-ocean-green);
        transition: width 0.3s ease-in-out;
    }

    & .progressDisplay {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(calc(100% + 0.4rem));
    }
}
